@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    background-color: #f5f3f0;
}


/* HEADER */

header {
    background: #bddbde;
    height: 140px;
}

.headerdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 140px;
}


/* NAV CSS */

.li_navheaderfooter {
    display: inline-block;
    margin: 40px;
}

.ul_display {
    margin-top: -5px;
}

.a_nav {
    padding-left: 10px;
    text-decoration: none;
    color: white;
}


/* ARTICLES */

.articles_container {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.articles {
    width: 500px;
    background: #bddbde;
    margin-right: -55px;
    margin-bottom: 15px;
    padding: 20px;
}

.article_section {
    padding: 35px;
}

#flexbox_chat {
    display: flex;
    flex-direction: column;
}

#flexbox_chien {
    display: flex;
    flex-direction: column;
}


/* SIDE BAR ARTCILES */

.sidebar {
    background-color: #e3e1de;
    width: 15%;
    padding: 20px;
}

.formsearch {}

input {
    padding: 8px 25px;
    background-color: white;
    border: 1px solid black;
}

input[type=TEXT] {
    width: 50%;
}

input[type=submit] {
    position: relative;
    left: -5px;
    background: #bddbde;
    color: white;
}


/* AUTRES */

a {
    color: black;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 35px;
}