@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    background-color: #f5f3f0;
}


/* HEADER */

header {
    background: #9dcbd1;
    height: 140px;
}

.headerdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 140px;
}


/* NAV CSS */

.li_navheader {
    display: inline-block;
    margin: 40px;
}

.a_nav {
    padding-left: 10px;
    text-decoration: none;
    color: white;
}


/* ARTICLES */

.articles_container {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 100px;
}

.articles {
    max-width: 500px;
    max-height: 450px;
    background: #9dcbd1;
    margin-right: -55px;
    margin-bottom: 15px;
    padding: 20px;
}

.article_section {
    padding: 30px;
}

#flexbox_chat {
    display: flex;
    flex-direction: column;
}

#flexbox_chien {
    display: flex;
    flex-direction: column;
}


/* SIDE BAR + COMM' ARTCILES INDEX */

.sidebar {
    background-color: #dae0e0;
    width: 15%;
    padding: 20px;
    text-align: left;
    max-height: 922px;
    margin-left: 150px;
}

.sidebar li {
    list-style-type: none;
    padding-right: 10px;
    margin-bottom: 10px;
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar a {
    text-decoration: none;
    color: black;
    transition: color .3s ease;
}

.sidebar a:hover {
    color: #9dcbd1;
}


/* PAGE ARTICLES */

.mon_container_article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 65px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: justify;
}

.article_size {
    max-width: 1090px;
    max-height: auto;
    padding: 15px;
    background: #9dcbd1;
}

.article_size img {
    padding: 10px;
    background: white;
}


/* BAR RECHERCHE */

input,
textarea {
    padding: 8px 25px;
    background-color: white;
    border: 1px solid #dae0e0;
    font-family: roboto, sans-serif;
}

.sidebar input[type=TEXT] {
    width: 50%;
}

input[type=submit] {
    background: #9dcbd1;
    color: white;
}

.sidebar input[type=submit] {
    position: relative;
    left: -5px;
}


/* PADDING IMAGES */

.articles img {
    padding: 10px;
    background: white;
}


/* SECTION COMMENTAIRES */

.commentaires textarea {
    margin: 5px 0;
}

.commentaires {
    max-width: 500px;
    max-height: 450px;
    background: #9dcbd1;
    margin-right: -55px;
    margin-bottom: 15px;
}

.comments {
    margin-top: 50px;
    text-align: left;
}

.comments p {
    margin-bottom: 0;
}

.auteur {
    font-style: italic;
    font-weight: bold;
    text-align: right;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 0.9em;
}


/* Espace connexion INPUT + VIsuel */

.espace_connexion input {
    padding: 8px 25px;
    background-color: white;
    border: 1px solid #dae0e0;
    font-family: roboto, sans-serif;
    margin-top: 5px;
}

.espace_connexion input[type=submit] {
    background: #9dcbd1;
    color: white;
}

.visu_connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* FOOTER */

.footerdiv {
    background-color: #9dcbd1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.footerdiv li {
    display: inline-block;
    margin: 15px;
}

.footerdiv .ul_display {
    margin 0;
}

img {
    vertical-align: middle;
}


/* AUTRES */

a {
    color: black;
}

#h1_header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-right: 450px;
    padding: 10px;
}

#h2_articles {
    text-align: start;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 10px;
    margin-left: 126px;
}

.clearfix {
    clear: both;
}

hr {
    color: #dae0e0;
}

h1 {
    font-family: roboto, sans-serif;
}